<div class="contents row">
  <div class="success">
    <h3>
      I'm glad that you seem to have had a good day！<br>
      I hope that tomorrow will also a good day.
    </h3>
    <a class="waves-effect waves-light btn" href="/tweets">Go To Index</a>
  </div>
</div>
