<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <style type="text/css" href="./style.css"></style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <style >
    body{
      background-image: url("gogoame.pdf");
    }
    .clearfix:after {
        clear: both;
        content: '';
        display: block;
      }

  </style>
</head>

 <body>
  <header>
<!-- /header -->
    <nav class = "indigo lighten-1">
     <div class="nav-wrapper">
      <a href="/tweets/top" class="brand-logo right"> right as rain </a>
       <ul id="nav-mobile" class="left hide-on-med-and-down">
        <% if user_signed_in? %>
         <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
          <li><a href="/tweets/new">HOW WAS YOUR DAY? </a></li>
         <% else %>
          <li><%= link_to "LOG IN", new_user_session_path, class: 'post' %></li>

          <li class="active"><%= link_to "NEW ACCOUNT", new_user_registration_path, class: 'post' %></li>
        <% end %>
       </ul>
     </div>
    </nav>
  </header><!-- /header -->

    <%= yield %>

  <footer class = "indigo lighten-1">

   <div class="footer-copyright">
    <div class="container">
       Copyright BlogApp 2018.by YOKO.
    </div>
   </div>
  </footer>
 </body>
</html>

